@model vetsoftTestaufgabe.Models.Customer

@{
    ViewData["Title"] = "Kunde löschen";
    Layout = "~/Views/Layout/_LayoutArticle.cshtml";
}

<div class="row m-0">
    <div class="col-12">
        <h1>Kunden löschen</h1>
    </div>

    <div class="col-12">
        <div class="form-group form">
            <label class="control-label">@Html.DisplayNameFor(model => model.FirstName)</label>
            <div class="input pt-2">@Html.DisplayFor(model => model.FirstName)</div>
        </div>
        <div class="form-group form">
            <label class="control-label">@Html.DisplayNameFor(model => model.LastName)</label>
            <div class="input pt-2">@Html.DisplayFor(model => model.LastName)</div>
        </div>
        <div class="form-group form">
            <label class="control-label">@Html.DisplayNameFor(model => model.Address)</label>
            <div class="input pt-2">@Html.DisplayFor(model => model.Address)</div>
        </div>
        <div class="form-group form">
            <label class="control-label">@Html.DisplayNameFor(model => model.Zipcode)</label>
            <div class="input pt-2">@Html.DisplayFor(model => model.Zipcode)</div>
        </div>
        <div class="form-group form">
            <label class="control-label">@Html.DisplayNameFor(model => model.City)</label>
            <div class="input pt-2">@Html.DisplayFor(model => model.City)</div>
        </div>

        <form class="form-group form">
            <button type="submit" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
                <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-tools" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z" />
                    <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z" />
                </svg>
                <span>Bearbeiten</span>
            </button>
            <button type="submit" asp-action="index" asp-route-id="@Model.Id" class="btn btn-secondary">
                <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-box-arrow-left" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                </svg>
                <span>Zurück</span>
            </button>
        </form>
    </div>
